.area-torres {
  width: 100vw;
}
.flex-torres {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.T-A {
  display: flex;
}
/* imagem */
.torres-altas {
  width: 270px;
  height: 430px;
}
.torre-oeste {
  width: 270px;
  height: 430px;
}
.torres-baixa {
  /* width: 304px;
  height: 282px; */
}
.torre-leste {
}
